.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px black;
  border-radius: 5px;
  padding: 80px;
  padding-top: 40px;
}

@media screen and (max-width:500px) {
  .view {
    padding: 40px;
    padding-top: 10px;
  }

  .joinActions {
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  }

  .joinActions .btn {
    flex:1;
  }

  .joinActions .input {
    flex: 3;
  }
 }

.view h2{
  text-align: center;
  font-size: 25px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top:30px;
}

.btn {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-primary {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.btn-primary:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-disabled{
  background-color: #f44336;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-sm {
  padding:10px 26px;
}

.input {
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-action-icon img {
  height: 50px;
}

@media screen and (max-width:500px) {
  .btn {
    padding: 10px 20px;
  }

  .input {
    padding: 10px 20px;
    margin: 0;
  }
  .btn-action-icon {
    padding:25px 25px;
  }

  .btn-action-icon img {
    height: 30px;
  }
 }
